# Dependencies
node_modules
package-lock.json

# Generated dirs
dist

# playground
playground/**/*.tgz
playground/pnpm-lock.yaml
playground/package.json

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
