# Dependencies
node_modules
package-lock.json

# Generated dirs
dist

# playground
playground/**/*.tgz
playground/pnpm-lock.yaml

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
